---
import Layout from 'src/layouts/Layout.astro'
import ProfileHeader from 'src/components/ProfileHeader.astro'
---

<Layout title="404 - Page Not Found" description="This page could not be found.">
  <main class="container">
    <ProfileHeader />

    <div class="section">
      <h1>404</h1>
      <p>This page could not be found.</p>
      <a href="/" class="cta-link">&larr; Go home</a>
    </div>
  </main>
</Layout>
