---
---

<div class="section">
  <p class="section-title">Connect</p>
  <div class="connect-grid">
    <div class="connect-item">
      <span>GitHub</span>
      <a href="https://github.com/jamesbeck7" target="_blank" rel="noopener">
        @jamesbeck7
      </a>
    </div>
    <div class="connect-item">
      <span>Twitter</span>
      <a href="https://twitter.com/jamesjohnbeck" target="_blank" rel="noopener">
        @jamesjohnbeck
      </a>
    </div>
  </div>
</div>
