---
---

<div class="section">
  <p class="section-title">Connect</p>
  <div class="connect-grid">
    <div class="connect-item">
      <span>GitHub</span>
      <a href="https://github.com/jamesjohnbeck-dotcom" target="_blank" rel="noopener">
        @jamesjohnbeck-dotcom
      </a>
    </div>
    <div class="connect-item">
      <span>Twitter</span>
      <a href="https://twitter.com/jamesbeck" target="_blank" rel="noopener">
        @jamesbeck
      </a>
    </div>
  </div>
</div>
